<head>

  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!--    <link href="../static/css/resume.css" rel="stylesheet">-->

</head>


<body>
    <div class="container">
  <div class="word_split wrapper">
  <span class="word word1">MR</span>
  <span class="word word2">ZHU</span>
  <span class="word word3">Personal</span>
  <span class="word word4">Details</span>
  <span class="word word5">Employment</span>
  <span class="word word6">History </span>
  <span class="word word7">Education</span>
  <span class="word word8">Personal</span>
  <span class="word word9">Skills </span>
  <span class="word word10">Technical</span>
  <span class="word word11">Skills </span>
  <span class="word word12">Recent </span>
  <span class="word word13">Work</span>

    <div class="bubble1">
     <span class="the-arrow1"></span>
      HI <br/> I am..
   </div>
  <div class="bubble2">
     <span class="the-arrow2"></span>
    <img src="https://dribbble.s3.amazonaws.com/users/10958/screenshots/271458/librarian.jpg"/>
   </div>
  <div class="bubble3">
     <span class="the-arrow3"></span>
    {{person.address}}<br/>
    {{person.tel}}<br/>
    {{person.email}}<br/>
    {{person.job}}<br/>
      音乐<br/>
    绘画<br/>
      电子竞技<br/>

<!--    ETC...<br/>-->
<!--    ETC...<br/>-->
   </div>
  <div class="bubble4">
     <span class="the-arrow4"></span>

      {{person.experiences[2].title}}<br/>
      {{person.experiences[2].description}}<br/>
      {{person.experiences[2].timeframe}}<br/>

   </div>
  <div class="bubble5">
     <span class="the-arrow5"></span>
      {%for edu in person.education%}
    {{edu.university}}<br/>
    {{edu.description}}<br/>
    {{edu.timeframe}}<br/><br/>
      {%endfor%}


   </div>
  <div class="bubble6">
     <span class="the-arrow6"></span>
    吃苦耐劳<br/>
    性格随和<br/>
    乐于学习新知识<br/>
    有较好的社交能力<br/>
    有团队精神<br/>
   </div>
  <div class="bubble7">
     <span class="the-arrow7"></span>
      {%for skill in person.programming_languages%}
    {{skill}}<br/>
      {%endfor%}

   </div>
  <div class="bubble8">
     <span class="the-arrow8"></span>
    <p><a href="{{url_for('index')}}" target="_blank">高考各省历年分数线的可视化分析</a></p>
      <p><a href="{{url_for('iris')}}" target="_blank">鸢尾花的可视化分析</a></p>
      <p><a href="{{url_for('tips')}}" target="_blank">小费的可视化分析</a></p>
      <p><a href="{{url_for('wind')}}" target="_blank">风的可视化分析</a></p>
      <p><a href="{{url_for('gapminder')}}" target="_blank">城市人口年龄与GDP的可视化分析</a></p>
   </div>
</div>

</div><!--end container-->

</body>