<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('iris', result, {});;
                }
            });
        }
    </script>
    <title>鸢尾花的可视化分析</title>



</head>

<body style="font-family:arial, sans-serif">
    <h1>对于鸢尾花的可视化分析</h1>
    <div id="iris" class="iris"></div>
    <div id="iris1" class="iris1"></div>
</body>

<script>
    d = {{ graphJSON | safe }};
    Plotly.newPlot('iris', d, {});
    c = {{ graphJSON1 | safe }};
    Plotly.newPlot('iris1', c, {});
</script>


</html>
